
.header{
  color:white;
  background-color:rgba(255, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  padding-left: 30px;
  padding-top: 15px;
  margin: 0px;
  top: 0px;
  z-index: 2;
}

.footer{
  color: white;
  background-color:rgba(155, 20, 155, 0.5);
  position: fixed;
  width: 100%;
  bottom: 0px;
  margin: 0px;
  text-align: center;
  z-index: 2;
}

.tagLine{
  width: 500px;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  margin-left: -180px;
  top: 250px;
  z-index: 2;
  color: white;
}

.placeOrder{
  width: 600px;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  margin-left: -280px;
  top: 500px;
  z-index: 2;
  color: white;
  background-color: green;
  text-align: center;
  padding-top: 10px;
}

.coverPhoto{
  width: 100%;
}

.dContainter{
  margin-top: 50px;
}

.dTitle{
  text-align: center;
  padding: 5px;
  margin-bottom: 40px;
}

.dText{
  padding: 10px;
  text-align: justify;
}

.orderList{
  border-radius: 20px;
  padding: 15px;
  height: 400px;
  background-color: rgba(0, 255, 0, 0.5);
}

small{
  text-align: right;
}

.menu{
  margin-top: 100px;
}

.menuBurger{
  background-color: rgba(255, 90, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
}

.menuPizza{
  background-color: rgba(255, 90, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
}

.personInfo{
  background-color: rgba(255, 255, 0, 0.5);
  position: absolute;
  width: 430px;
  top: 650px;
  left: 30px;
  padding: 20px;
  border-radius: 20px;
}

.orderList{
  padding: 15px;
}

.finishOrder{
  display: none;
  z-index: 10;
  background-color: rgba(75, 0, 255, 0.9);
  color: white;
  position: fixed;
  height: 150px;
  border-radius: 40px;
  width: 600px;
  top: 200px;
  left: 25%;
  right: 25%;
  padding: 5%;
  text-align: center;
}

.totalContainer{
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 15px;
  background-color: rgba(0, 255, 255, 0.9);
}

button{
  width: 60%;
  background-color: rgba(255, 255, 0, 0.5);
}

#orderSubmit{
  width: 100%;
  background-color: rgba(0, 255, 0, 0.5);
}
